<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="tests" thread-count="2">
<listeners>
    <listener class-name="com.example.listeners.MyAnnotationTransformer"/>
    <listener class-name="com.example.listeners.MyListeners"/>

</listeners>
<parameter name="browser" value="chrome"/>
    <test name="Test1">
        <classes>
            <class name="com.example.test.gui.bookStoreApp.BookStoreAppE2ETest" />
            <!-- Agrega más clases de prueba aquí según sea necesario -->
        </classes>
    </test>
    <test name="Test2">
        <classes>
            <class name="com.example.test.gui.textBox.TextBoxTest" />
            <!-- Agrega más clases de prueba aquí según sea necesario -->
        </classes>
    </test>
    <test name="Test3">
        <classes>
            <class name="com.example.test.gui.bookStoreApp.LoginTest" />
            <!-- Agrega más clases de prueba aquí según sea necesario -->
        </classes>
    </test>
</suite>